build/tmp/*
build/cache/*
build/tmp/deploy/*
sources/meta-qt5/*
sources/meta-raspberrypi/*
sources/poky
build/bitbake-cookerdaemon.log
build/pn-buildlist
build/task-depends.dot
build/bitbake.lock
build/conf/templateconf.cfg
